<div class="container">
  <section class="jumbotron text-center bg-light">
    <div class="container">
      <h1 class="jumbotron-heading">People</h1>
      <p class="lead text-muted">
        With <span class="font-italic">Trailers For You</span>® you can easily navigate through the information provided on your favorite actors, producers, editors, and directors.
      </p>
    </div>
  </section>


  <hr class="style15" style="margin-bottom: 30px;">


  <div class="row">
    <div class="col-sm-4" *ngFor="let y of people; let x = index">

      <div *ngIf="x < 40">

<div *ngIf="i < 10">
        <div class="card mb-4 box-shadow">
          <!-- img -->
          <img class="card-img-top rounded" src="https://image.tmdb.org/t/p/w500/{{y.profile_path}}" alt="Image not found" onerror="this.src='../assets/img/notfound.png';" />
          <!-- <img class="card-img-top rounded" src="https://image.tmdb.org/t/p/w500/{{y.profile_path}}" alt="{{y.name}}"> -->
          <!-- body -->
          <div class="card-body">
            <p class="card-text">{{y.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">

                <a routerLink="/detail/{{ y.id }}" class="btn btn-sm btn-outline-secondary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>

    </div>

  </div>
</div>
