
<div class="container">

<div class="row ">
  <div class="col-sm-4" *ngFor="let movie of actor.movies">


      <div div class="card" style="border-color: black;">
      <!-- img -->
      <img class="card-img-top rounded" src="{{movie.path}}">
      <!-- body -->
      <div class="card-body">
        <p class="card-title">{{movie.name}}</p>
        <p class="card-text">{{movie.summary}}</p>
        <a href="{{movie.trailerURL}}" class="btn btn-primary">learn more >></a>
      </div>
    </div>



  </div>
</div>

</div>
